.user-profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    margin-top: 50px;
}


.user-albums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.user-profile-image{
    border: 3px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;

    object-fit: cover;

}

.user-page-username{
    margin: 10px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.user-page-bio{

text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 500px;
font-size: 18px;

margin-bottom: 10px;

}

.users-num{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 15px;
    font-family: arial;
    font-weight: bold;
    
}


.each-album-tile{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    margin: 5px;

    overflow: hidden;
    
    text-decoration: none;
    color: black;
}

.eatl {
    text-decoration: none;
    color: black;
}

.each-album-img{
    border-radius: 20px;
    width: 80%;
    height: 400px;
    object-fit: cover;
}

.each-album-title{
    font-weight: bold;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.link-image{
    display: flex;
    justify-content: center;
    align-items: center;
}