.albums-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin: 60px 50px;
    width: 100%;



}

.albums-list{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.album-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    padding: 20px;
    width: 90%;


    


}

.album-tile:hover{
    box-shadow: 0px 2px 10px 2px rgb(0, 214, 252);
    border-radius: 25px;
}

.album-image{
    height: 350px;
    width: 100%;
    border-radius: 25px;

    object-fit: cover;

}


.Link{
    text-decoration: none;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.album-tile-title{
    color: black;
    font-size: 18px;
    margin-top: 8px;

}

.album-user-image{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    
    object-fit: cover;
}


.album-list-block-3{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.Link{
    color: black;
}