.album-container{
    display: flex;

    margin: 75px;
    justify-content: center;
    align-items: center;
}

.each-post-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album-1 img{
    object-fit:cover;
    border-radius: 20px;
    height: 600px;
    width: 600px;
}


.album-2-top{

    margin: 25px 50px;
    width: 600px;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 25px;
    box-shadow: 2px 2px 2px lightgray;

    display: flex;

}

.album-2-top div{
    font-family: Arial, Helvetica, sans-serif
}

.atop2{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.album-top3{
    display: flex;
    justify-content: space-between;
}

.album-top3 > div{
    margin: 20px;
    font-weight: bold;
}

.album-2-top img{
    height: 200px;
    width: 200px;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    object-fit: cover
}

.album-2-bottom{
    margin: 50px 50px;
    width: 600px;
}

.album-2-bottom div{
    padding: 5px;
}


.album-posts-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin: 10px 40px;

    width: 100%;


    margin-bottom: 60px;
}


.album-page-category{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.album-page-title{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

.album-page-description{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}


.album-page-post-image{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
 
}

.album-page-post-headline{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}



.created-by{
    text-decoration: none;
    color: black;

    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
}

